<div class="container">
    <h3 class="row">Chi Tiết Sách </h3>
    <div class="">
            <div class="form-group">
                <p for="name">Tên Sách : {{product.name}} </p>
                <p for="auth">Tác Giả: {{product.auth}} </p>
                <p for="content">Mô Tả : {{product.content}} </p>
            </div>
            <div class="form-group">
                <div class="panel-footer" style="overflow: hidden;">
                    <button type="button" on-click="handleNo()" class="btn
                        btn-danger">Quay Lại</button>
                </div>
            </div>
    </div>
</div>
